body{
	text-rendering: optimizeLegibility;
	font-family: "Microsoft YaHei","Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif,Times New Roman,Arial;
	letter-spacing: .2px;
	background-color: #e6e6e6;
}

.layout{
	margin: 0 auto;
    width: 65%;
    min-width: 950px;
    background-color: #fff;
    padding: 3em 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    /*box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);*/
}

a{
	color: #000;
}

a:hover{
	color: red;
}

.header{
	margin: 0 0 0.2em 0;
}

.header .l{
	width: 44%;
	float: left;
	padding: 13px 0;
}

.header .r{
	width: 55%;
	float: right;
	text-align: right;
}

.header .blog_title{
	font-size: 1.8em;
	font-weight: bold;
	color: #000;
}

.nav{
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 0;
	margin: 2em 0;
}

.nav .l {
	float: left;
}

.nav .l ul{
	
}

.nav .l ul li{
	float: left;
	margin: 0;
	padding: 0 1.8em 0 0em;
	line-height: 300%;
}

.nav .l ul li a{
	font-size: 1em;
	font-weight: 500;
	color: #222;
	text-decoration: none;
}

.nav .l ul li a:hover{
	color: red;
}

.nav .r {
	float: right;
}

.nav .r p {
	text-align: right;
	line-height: 300%;
}

.nav .r p span{
	margin: 0 0.7em;
	color: #555;
	font-size: 0.9em;
}

.nav .r .searchInput input{
	font-size: 0.8em;
	padding: 0.3em;
	width: 12.3em;
	color: #333;
}

.container .content{
    min-height: 500px;
    padding: 0px 0px 10px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    float: left;
    margin-left: -19em;
    width: 100%;
}

.container .content .flow{
	margin-left: 19em;
    float: none;
    width: auto;
}

.container .content .flow .tips{
	font-size:0.9em;
	color:#777;
	margin:0 0 1.4em 0;
	font-style:italic;
}

.container .content .flow .article{
	margin-bottom: 4em;
}

.container .content .flow .article .article_title{	
	margin: 0 0 0.5em 0;
}

.container .content .flow .article .article_title a{
	text-decoration: none;
	color: #333;
	font-size: 1em;
	font-weight: bold;	
}

.container .content .flow .article .article_title a:hover{
	color:red;
	text-decoration: underline;
}

.container .content .flow .article .article_summary{	
	color: #222;
	margin: 0.8em 0;
	line-height: 200%;
	font-size: 0.9em;
}

.container .content .flow .article .article_summary h1{
	font-size: 1.2em !important;
	font-weight: bold !important;
}

.container .content .flow .article .article_summary h1 a{
	font-size: 1.2em !important;
	font-weight: bold !important;
}

.container .content .flow .article .article_summary h2{
	font-size: 1.16em !important;
	font-weight: bold !important;
}

.container .content .flow .article .article_summary h2 a{
	font-size: 1.16em !important;
	font-weight: bold !important;
}


.container .content .flow .article .article_summary h3{
	font-size: 1.1em !important;
	font-weight: bold !important;
}

.container .content .flow .article .article_summary h3 a{
	font-size: 1.1em !important;
	font-weight: bold !important;
}

.container .content .flow .article .article_summary h4{
	font-size: 1em !important;
	font-weight: bold !important;
}

.container .content .flow .article .article_summary h4 a{
	font-size: 1em !important;
	font-weight: bold !important;
}

.container .content .flow .article .article_summary ul li{
	margin-left: 25px;
	list-style: disc;
}

.container .content .flow .article .toolBar{
	margin:0;
	color: #000000;
	font-size: 0.9em;
	line-height: 180%;
}

.container .content .flow .article .toolBar a{
	color: #000;
	margin: 0 0.1em;
}

.container .content .flow .article .toolBar a:hover{
	color: red;
}

.container .content .flow .pager{
	text-align: right;
	margin: 2em 0;
	padding: 0 1em;
}

.container .content .flow .pager a{
	font-size: 1em;
	color: #444;
	margin: 0 0.4em;
	text-decoration: underline;
}

.container .content .flow .pager a:hover{
	color: red;
}

.container .content .flow .article .origin {
    background: #FFF8F8;
    text-align: left;
    margin: 25px 0;
    padding: 6px 0 6px 10px;
    color: #333;
    font-size: 0.8em;
    line-height: 200%;
    border-left: 6px solid #FFD7D7;
}


.article .comment{
	margin: 0;
	padding: 0px;
}

.article .comment_head{
	background: #FFF8F8;
	margin: 2em 0 1em 0;
	padding: 0.4em 0.8em;
	line-height: 200%;
	font-size: 0.8em;
}

.article .comment_head .l{
	width: 45%;
	float: left;
}

.article .comment_head .r{
	width: 45%;
	float: right;
	text-align: right;
}

.article .comment_content .items{
	font-size: 0.8em;
	margin: 1.5em 0.6em 1em 0.6em;
	padding: 1.2em 0;
	border-bottom: 1px dotted #eee;
}

.article .comment_content .items p{
	color: #555;
}

.article .comment_content .item h3{
	font-size: 2em;
	line-height: 200%;
	display: inline;
	padding-right: 1em;
}

.article .comment_content .item{
	font-size: 1em;
	margin: 0.4em 0.8em;
	line-height: 180%;
}

.article .comment_content .items .item div.ref {
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 3px;
    font-size: 9pt;
    color: #333;
    background:#FAFAFA;
}

.article .comment_content .no_comment{
	font-size: 0.8em;
	color: #666;
	line-height: 180%;
	padding: 0 1em;
}

.article .comment .comment_submit{
	font-size: 0.8em;
	margin: 1.5em 0.6em 1em 0.6em;
	padding: 1.2em 0;
}

.article .comment .comment_submit table{
	border-collapse: collapse;
}

.article .comment .comment_submit table tr td{
	padding: 0.5em 0;
	vertical-align: middle;
}

.article .comment .comment_submit input[type='text']{
	width: 250px;
	padding: 0.6em 0.2em;
}

.article .comment .comment_submit input[type='button']{
	padding: 0.6em 2em;
}

.article .comment .comment_submit input[type='submit']{
	padding: 0.6em 2em;
}

.article .comment .comment_submit textarea{
	width: 97%;
	height: 120px;
	padding: 0.6em 0.2em;
}

.flag_required{
	color: red;
}

.container .siderBar{
	margin-top: -15px;
    width: 254px;
    min-height: 500px;
    padding: 0px 0 0px 5px;
    float: right;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}


.container .siderBar .box a:hover{
	color:red !important;
	text-decoration: underline !important;
}

.container .siderBar .box{
	margin: 1em 0 2em 0;
	padding:0;
}

.container .siderBar .box p{
	color: #555;
	font-size: 0.9em;
	padding: 0 0 0 0.1em;
	line-height: 160%;
}

.container .siderBar .box h2{
	font-size: 1.2em;
	color: #222;
	margin: 0.3em 0;
}

.container .siderBar .box ul{
	margin:0;
	padding: 0;
}

.container .siderBar .box ul li{
	margin: 0 0 0 1.4em;
    padding: 0 0 0 0;
	line-height: 220%;
	font-size: 0.8em;
	list-style: square;
}

.container .siderBar .box ul li a{
	color: #000;
}

.container .siderBar .box ul .li_s{
	margin: 0 0 0 1.4em;
    padding: 0 0 0 0;
	line-height: 220%;
	font-size: 1em;
	list-style: square;
}

.container .siderBar .box .commentLink{
	color: #000;
	font-size: 1em;
}

.container .siderBar .box .commentContent{
	color: #444;
}

.container .siderBar .box .commentAuthor{
	text-align: right;
	color:#000;
}

.container .siderBar .box .imageAuther{
	width: 250px;
	border: none;

}

.container .siderBar .box .more{
	text-align: right;
	color:#000;
	font-size: 0.9em;
}

.container .siderBar .box .more a{
	color:#333;
	text-decoration: underline;
	line-height: 80%;
	margin: 0;
	padding: 0;
}

.shareBar{
	margin:2em 0;
}

.donateBar{
	border: 1px dotted #ccc;
    padding: 0.1em;
}
   
.donateBar img{
	border:none;
}

.donateBar p{
	font-size: 0.8em;
	color: #333;
}


.footer{
	margin: 1em 0;
	padding: 4em 0 1em 0;
	text-align: center;
	border-top: 1px solid #eee;
}

.footer p{
	color: #333;
	font-size: 1em;
	font-weight: 300;
	line-height: 200%;
}


#goto-top {
    display:none;
    position:fixed;
    width:38px;
    height:36px;
    background:url(/static/images/goto-top.png) no-repeat 0 0;
    bottom:10px;
    right:10px;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    transition:all 0.2s;
    z-index:9999;
}

#goto-top:hover {
    background:url(/static/images/goto-top.png) no-repeat 0 -36px;
}


.container .contentAdmin {
    margin-left: -13.5em !important;
}

.container .flowAdmin {
    margin-left: 13.5em !important;
}


.container .siderBarAdmin {
    width: 164px !important;
}

.table_admin{
	border-collapse: collapse;
	width: 100%;

}

.table_admin tr th{
	text-align: center;
	background-color: #FFF8F8;
	padding: 0.6em 0.4em;
	vertical-align: middle;
	border: 1px solid #eee;
}

.table_admin tr td{
	text-align: center;
	background-color: #fff;
	padding: 0.5em 0.4em;
	border: 1px solid #eee;
	vertical-align: middle;
}

.table_admin tr:hover td{
	background-color: #FFF8F8;
}

.table_admin_edit{
	border-collapse: collapse;
	width: 100%;
}

.table_admin_edit tr td{
	text-align: left;	
	padding: 0.5em;
	vertical-align: middle;
}

.table_admin_edit tr .l{
	text-align: left;
}

.table_admin_edit tr .r{
	text-align: right;
	width: 10%;
}

.table_admin_edit tr td input[type='text']{
	width: 90%;
	padding: 0.3em 0.2em;
	font-size: 0.8em;
}

.table_admin_edit tr td input[type='password']{
	width: 90%;
	padding: 0.3em 0.2em;
	font-size: 0.8em;
}

.table_admin_edit tr td select{
	padding: 0.1em;
	font-size: 0.8em;
}
.table_admin_edit tr td textarea{
	padding: 0.3em;
	font-size: 0.8em;
}

.table_admin_edit tr td input[type='submit']{
	padding: 0.3em 2em;
}

.msg{
	color: red;
	font-size: 1em;
}

.admin_tools .l{
	width: 33%;
	float:left;	 
}

.admin_tools .c{
	width: 33%;
	float:left; 
	font-size: 0.9em;
}

.admin_tools .r{
	float:right; 
	width: 33%;
	font-size: 0.9em;
	text-align: right;
	line-height: 160%;
	padding: 0.2em 0.1em;
}