<div class="siderBar siderBarAdmin">	  			

<div class="box">
	<h2>后台操作导航</h2>
	<ul>
		<li class="li_s"><a href="/admin/category/list">博客类型列表</a></li>
		<li class="li_s"><a href="/admin/article/list">博客列表</a></li>		
		<li class="li_s"><a href="/admin/friendlink/list">友情链接</a></li>
		<li class="li_s"><a href="/admin/backup/myblog.xml">导出博客</a></li>
		<li class="li_s"><a href="/admin/settings/edit">博客设置</a></li>
		<li class="li_s"><a href="/admin/user/edit">用户资料</a></li>
		<li class="li_s"><a href="/admin/advert/edit">广告设置</a></li>
		<li class="li_s"><a href="/admin/flush/data">刷新数据</a></li>				
	</ul>
</div>

</div>
