<div class="nav clearfix">
  <div class="l">
    	<ul class="clearfix">
    			<li><a href="/index">首页</a></li> 
          <li><a href="/friendlink">友情链接</a></li>
          <li><a href="/about">关于我</a></li>
          <li><a href="/article/rss" target="_blank">订阅+</a></li>   
    			{{if .logined}}
    			<li><a href="/admin/article/list">[管理]</a></li>
    				<li><a href="/account/logout">[注销]</a></li>
    			{{else}}
    				<li><a href="/account/login">[登录]</a></li>
    			{{end}}
    	</ul>
  </div>
  
  <div class="r">
  		<form action="/article/search" method="GET">
    		<p class="searchInput">
  			 <input type="search" results="s" placeholder="输入关键字回车搜索" name="q" autocomplete="off" title="搜索" value="{{.q}}"/>
    		</p>
    	</form>
  </div>
</div>